@use '../abstracts/mixins' as mix;

.drum-pad {
	flex-wrap: wrap;
	width: 75px;
	height: 75px;
	margin: 0.75rem 0.55rem;
	box-shadow: black 3px 3px 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	background-color: #5cdad3;
}
