@use '../abstracts/mixins' as mix;

#display {
	min-height: 400px;
	min-width: 300px;
	background-color: #58b368;
	margin: 0 auto;
	@include mix.flexCustom(column, center, center);

	.display-container {
		width: 280px;
		background-color: #dad873;
		margin: 0.5rem 0;
	}
	#controls-container {
		@include mix.flexCustom(column, center, center);
		height: 150px;
	}
}
