@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"; 

$poppins-font: 'Poppins', Helvetica, sans-serif;

$bg-light: rgb(255, 255, 255);
$bg-dark: rgb(65, 63, 66);
$text-light: rgb(240, 240, 240);
$text-dark: rgb(0, 0, 0);

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

/* Media queries device screen sizes. */

$xs: 0em;  // mobile only
$sm: 24em;  // mobile and low-res tablets
$med: 40em; // hi-res tablets and low-res laptops
$lg: 60em;   // 1080 and hi-res laptops
$xl: 87.5em; // 4k and hi-res desktop
