@use '../utils/variables' as v;

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: v.$poppins-font;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    word-spacing: 0.5px;
    letter-spacing: 1px;
}

// Top margins and padding with blocks of text
p, ol, ul, blockquote, pre, code, small {
    line-height: 1.5em;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

button {
    font-size: 14px;
}
a, a:visited, a:active {
    text-decoration: none;
    line-height: 0;
}

